.stage {
    display: inline-block;
    text-align: left;
    background: gray;
    position: relative;
    /*top: 200px;*/
    width: 480px;
    height: 640px;
    /*overflow: hidden;*/
}

.game_object {
    display: inline-block;
    position: absolute;
}

#player {
    background: red;
    top: 400px;
    left: 200px;
    width: 80px;
    height: 80px;
}

#enemy {
    background: blue;
    top: 200px;
    left: 200px;
    width: 80px;
    height: 80px;
}

.bullets {
    background: blue;
    top: 100px;
    left: 150px;
    width: 10px;
    height: 10px;
}

.level {
    display: inline-block;
    position: absolute;
    /*top: 0px;*/
    /*width: 100px;*/
}

.sub_lab_title {
    background-color: rgb(90, 220, 0);
}

.sub_lab {
    margin: 0px 0px 36px 0px;
    border-color: grey;
    border-style: solid;
}

.val {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}


/*
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/
